{{ if eq $.Site.Language.LanguageName "EN" }}
<section class="section section-sm my-3 py-5">
  <div class="container">
    <h2 class="h2 my-0 text-center">Origin</h2>
        <div class="col-lg-7 col-xl-15 text-center">
        <p></p>
        <p>The Famland Metaverse has completed the big bang, everything is in a state of chaos, and the universe is empty.</p>
<p>With your arrival, the bosons and fermions wandering in the universe began to gather and gradually merged into the original value particle YL (Yield Land) in the Famland Metaverse under the action of your consciousness.</p>
        <p>Countless YL further automatically merged, and finally formed a new Famland that can continuously grow YL.</p>
<p>The fusion continues. The Famland you created and countless other Famland have jointly built the YL ecology (YLE, Yield Land Ecology). YLE is the new continent of the Famland meta-universe. Famland and other types of NFTs will continue to be generated, developed, migrated, changed and merged here. And this process of change and integration is the construction process of YLE. YLE will carry a brand new human society and human civilization.</p>
        <p>And you will be the energy source for the development of the entire Famland universe, not increasing, not decreasing, and always present.</p>
<p>Your mission is to to generate a new continent in the Famland Metaverse, and to make this new continent show infinite value and vigorous vitality, then you can fulfill the mission of the Metaverse that one begets two, two begets three, three begets everything by YL and Famland.</p>
      </div>
  </div> 
</section>
{{ end }}
{{ if eq $.Site.Language.LanguageName "CN" }}
<section class="section section-sm my-3 py-5">
  <div class="container">
    <h2 class="h2 my-0 text-center">起源</h2>
        <div class="col-lg-7 col-xl-15 text-center">
        <p></p>
        <p>Famland元宇宙完成了大爆炸，一切都呈现混沌状态，宇宙空无一物。</p>
<p>你的到来，使得在宇宙中徜徉的玻色子和费米子，在你的意识作用下，开始不断聚集并逐步融合成了Famland元宇宙中的原生价值粒子YL。</p>
        <p>无数的YL进一步自动融合，最终形成了可源源不断生长YL的新农田Famland。</p>
<p>融合仍在继续，你所缔造的Famland和其他无数的Famland，共同构建起了YLE生态，YLE是Famland元宇宙的新大陆，Famland以及其它各类NFT，将在这里不断生成、发育、迁徙、变化和融合。而这个变化和融合的过程，就是YLE的构建过程。YLE将承载一个全新的人类社会和人类文明。</p>
        <p>而你，将是整个Famland元宇宙发展的能量源，不增、不减、恒常在。</p>
<p>你的使命，是在Famland元宇宙中创造新的大陆，并让这片新大陆呈现出无限价值和蓬勃生机，履行一生二、二生三、三生万物的元宇宙使命。</p>
      </div>
  </div> 
</section>
{{ end }}