{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-12 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <!-- <a class="btn btn-primary btn-lg px-4 mb-2" href="https://eos.famland.world" role="button">{{ T "startgame" }}</a>
      <p class="meta">Open-source Famland Licensed. </p>-->
      
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<div class="d-flex justify-content-start">
  <div class="bg-dots"></div>
</div>

{{ partial "main/doks-origin.html" . -}}

{{ if eq $.Site.Language.LanguageName "CN" }}
<section class="section section-md my-5 bg-light">
  <div class="container">
    <h2 class="h2 my-0 text-center">开始</h2>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <div class="col-lg-5">
        <p class="fs-4 mt-4">{{ ":star:" | emojify }}</p>
        <h2 class="h5 mt-0">第1步</h2>
        <h2 class="h3 mt-0">开通EOS钱包账号</h2>
        <p>EOS是区块链世界进入门槛和使用成本最低的公链，开通EOS钱包后即可享受零Gas费率进行链上交易。</p>
<a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/turorial/quickstart/step1/" role="button">教程</a>
      </div>
      <div class="col-lg-5">
        <p class="fs-4 mt-4">{{ ":rocket:" | emojify }}</p>
        <h2 class="h5 mt-0">第2步</h2>
        <h2 class="h3 mt-0">创建Famland NFT</h2>
        <p>全世界任何人均可免费通过EOS钱包创建永久属于自己的私域领地Famland NFT。</p>
<a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/turorial/quickstart/step2/" role="button">教程</a>
      </div>
      <div class="col-lg-5">
        <p class="fs-5 mt-4">{{ ":gear:" | emojify }}</p>
        <h2 class="h4 mt-0">第3步</h2>
        <h2 class="h3 mt-0">存入置业资金</h2>
        <p>任何人最低只需要投入价值100USDT的数字资产，即可开始在Famland元宇宙世界中进行置业并开始获得收益。</p>
<a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/turorial/quickstart/step3/" role="button">教程</a>
      </div>
    </div>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <div class="col-lg-15">
        <p class="fs-4 mt-4">{{ ":gear:" | emojify }}</p>
        <p>一旦你的置业基金完成存入，你的Famland将开始自动耕种了，YL也将源源不断产出，即使你现在什么都不操作，你的收益也将会持续增长。</p>
        <p>如果你进一步探索Famland的价值原理，你将可以获得更高的Play to Earn收益回报。</p>
      </div>
</div>
  </div>
</section>
{{ end }}
{{ if eq $.Site.Language.LanguageName "EN" }}
<section class="section section-md my-5 bg-light">
  <div class="container">
    <h2 class="h2 my-0 text-center">Let's Start</h2>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <div class="col-lg-5">
        <p class="fs-4 mt-4">{{ ":star:" | emojify }}</p>
        <h2 class="h5 mt-0">Step 1</h2>
        <h2 class="h3 mt-0">Create an EOS wallet account</h2>
        <p>EOS is the public chain with the lowest entry threshold and the lowest cost to enter the blockchain world. After opening an EOS wallet, you can enjoy zero gas fee for on-chain transactions.</p>
<a class="btn btn-primary btn-lg px-4 mb-2" href="/en/docs/turorial/quickstart/step1/" role="button">Tutorial</a>
      </div>
      <div class="col-lg-5">
        <p class="fs-4 mt-4">{{ ":rocket:" | emojify }}</p>
        <h2 class="h5 mt-0">Step 2</h2>
        <h2 class="h3 mt-0">Create Famland NFT</h2>
        <p>Anyone in the world can create their own permanent private domain Famland NFT through the EOS wallet for free.</p>
<a class="btn btn-primary btn-lg px-4 mb-2" href="/en/docs/turorial/quickstart/step1/" role="button">Tutorial</a>
      </div>
      <div class="col-lg-5">
        <p class="fs-5 mt-4">{{ ":gear:" | emojify }}</p>
        <h2 class="h4 mt-0">Step 3/h2>
        <h2 class="h3 mt-0">Deposit Funds</h2>
        <p>Anyone only needs to invest a minimum of 100 USDT worth of digital assets to start buying property in the Famland metaverse world and start earning income.</p>
<a class="btn btn-primary btn-lg px-4 mb-2" href="/en/docs/turorial/quickstart/step1/" role="button">Tutorial</a>
      </div>
    </div>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <div class="col-lg-15">
        <p class="fs-4 mt-4">{{ ":gear:" | emojify }}</p>
        <p>Once your real estate fund is deposited, your Famland will start to farm automatically, and YL will continue to be produced. Even if you do nothing now, your income will continue to grow.</p>
        <p>If you further explore Famland's value principle, you will get a higher Play to Earn return. </p>
      </div>
</div>
  </div>
</section>
{{ end }}
{{ if eq $.Site.Language.LanguageName "CN" }}
<section class="section section-md my-5">
  <div class="container">
    <h2 class="h2 my-0 text-center">进阶</h2>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
    <p>进阶过程，是在Famland元宇宙中进行置业的过程，为的是让自己的Famland产生更高的回报收益。提高收益有留置、培置、共置三个方向。</p>
  </div>

    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <div class="col-lg-5">
        <p class="fs-4 mt-4">{{ ":star:" | emojify }}</p>
        <h2 class="h3 mt-0">留置</h2>
        <p>Famland产出的YL，如果暂不去收取，随后单位时间产出的YL数量也会更多一些。产出的YL留置在Famland上时间越长，日后收益越高。</p>
      </div>
      <div class="col-lg-5">
        <p class="fs-4 mt-4">{{ ":rocket:" | emojify }}</p>
        <h2 class="h3 mt-0">培植</h2>
        <p>培植就是提升Famland的肥力值。肥力值越高，农场获得的分发出来的YL越多，在单位时间内YL的产量也就越高。</p>
      </div>
      <div class="col-lg-5">
        <p class="fs-5 mt-4">{{ ":gear:" | emojify }}</p>
        <h2 class="h3 mt-0">共置</h2>
        <p>共置是指提升Famland的共享值。Famland的共享值越高，所在农场分得的YL越多，农场APY越高，Famland的收益也就越高。</p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <div class="col-lg-15">
        <p class="fs-4 mt-4">{{ ":gear:" | emojify }}</p>
        <h2 class="h4 mt-0">在Famland元宇宙中置业与在现实世界中创业的区别</h2>
        <p>在现实世界中创业是一个从0到1，再从1到无穷大的过程。</p>
        <p>而在Famland的置业，无需从0到1，只要人们的共享意识在一起了，1就诞生了，所有的1，在人们共识的作用下聚合起来，就是1到无穷大的置业过程。</p>
        <p>在Famland中置业，将达成Famland元宇宙中人人财富权平等，继而最终实现人类社会的人人平等。</p>
        <p>这将是你作为Famland元宇宙缔造者的权利、义务、使命和荣耀。</p>
      </div>
</div>
  </div>
</section>
{{ end }}
{{ if eq $.Site.Language.LanguageName "EN" }}
<section class="section section-md my-5">
  <div class="container">
    <h2 class="h2 my-0 text-center">Advanced</h2>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
    <p>The advanced process is the process of buying a property in the Famland Metaverse, in order to make your Famland generate higher returns. There are three directions to increase income: Reserve, Cultivation, and Sharing.</p>
  </div>

    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <div class="col-lg-5">
        <p class="fs-4 mt-4">{{ ":star:" | emojify }}</p>
        <h2 class="h3 mt-0">Reserve</h2>
        <p>If the YL produced by Famland is not collected, then the quantity of YL produced per unit will be more. The longer the YL produced is kept on Famland, the higher the future profit.</p>
      </div>
      <div class="col-lg-5">
        <p class="fs-4 mt-4">{{ ":rocket:" | emojify }}</p>
        <h2 class="h3 mt-0">Cultivation</h2>
        <p>Cultivation is to increase the fertility value of Famland. The higher the fertility value, the higher the yield per unit time of YL.</p>
      </div>
      <div class="col-lg-5">
        <p class="fs-5 mt-4">{{ ":gear:" | emojify }}</p>
        <h2 class="h3 mt-0">Sharing</h2>
        <p>Sharing refers to the promotion of Famland's shared value. The higher the share value of Famland, the higher the APY of the farm where Famland is located, and the higher the income of Famland.</p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <div class="col-lg-15">
        <p class="fs-4 mt-4">{{ ":gear:" | emojify }}</p>
        <h2 class="h4 mt-0">Buying a property in the Metaverse through Famland is similar to entrepreneurship in the real world, but there are fundamental differences:</h2>
        <p>Entrepreneurship is a process from 0 to 1, and then from 1 to infinity.</p>
        <p>Famland’s property purchasing does not need to go from 0 to 1. As long as people’s sense of sharing is together, 1 is born, and all 1s are aggregated under the influence of people’s consensus, which is the process of property purchasing from 1 to infinity.</p>
        <p>Buying a property in Famland will achieve the equality of wealth for everyone in the Famland Metaverse, and finally achieve equality for all in human society.</p>
        <p>This will be your rights, obligations, mission and glory as the creator of the Famland Metaverse.</p>
      </div>
</div>
  </div>
</section>
{{ end }}
{{ if eq $.Site.Language.LanguageName "CN" }}
<section class="section section-sm my-3 py-5 bg-light">
  <div class="container">
    <h2 class="h2 my-0 text-center">Famland NFT</h2>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
     </div>
   <div class="row justify-content-center align-items-center text-center mt-lg-3">
        <div class="col-lg-7 col-xl-15 ">
        <p>Famland NFT是人们在元宇宙中进行置业的载体，Famland就类似是自己的私人农场，每个Famland都包括三种不同的地块，依功能不同划分基本田、原始田和野田。</p>
        <p>Famland是有灵性的，它与主人的意识和精神融为一体，所以每一个Famland，都有他的品性、内涵、尊严和荣耀，它的存在，正如中华文化中的玉石。</p>
        <p>元宇宙中的Famland耕种，基本田是根本，核心主要体现在基本田的耕种，基本田耕种需要你用心经营和配置，它决定着你个人以及这块Famland未来的价值、荣誉和地位。原始田和野田无须太多操心，只需按需投资就行。</p>
      </div>
</div>
  </div> 
</section>
<section class="section section-md my-5">
  <div class="container">
    <h2 class="h2 my-0 text-center">Famland培植</h2>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <p>Famland的培植，主要目标是提升Famland的肥力值。肥力值提升主要分为两个方向。一是累积提升、二是加持提升。</p>
    </div>
   <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <div class="col-lg-8">
        <p class="fs-4 mt-4">{{ ":star:" | emojify }}</p>
        <h2 class="h3 mt-0">累计提升</h2>
        <p>Famland累积提升，取决于Famland各地块中所存入资金的数额和累计耕种时长。</p>
        <p>取回已存入Famland基本田的种子资金将会重置耕种时长和已累计的肥力值，务必慎重操作。</p>
      </div>
      <div class="col-lg-8">
        <p class="fs-4 mt-4">{{ ":rocket:" | emojify }}</p>
        <h2 class="h3 mt-0">加持提升</h2>
        <p>Famland的肥力值可通过NFT加持提升，从而获得加速提升的效能</p>
        <p>在Famlan元宇宙中，所有凝聚人类精神、意识、文化、艺术等元素的NFT都可以为Famland进行肥力加持。</p>
        <p>CryptoTree是第一代可用于对Famland加持的NFT，加持成功后，Famland的加成系数可立即获得提升，未来，哪些NFT可以为Famland进行加持提升，肥力加成提升多少数额，将有社区投票决定。</p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <div class="col-lg-15">
        <p class="fs-4 mt-4">{{ ":gear:" | emojify }}</p>
        <p>如果说，BTC是元宇宙中的数字黄金。那么，Famland就是元宇宙中的数字灵玉。</p>
        <p>越是与之亲近，与它亲近的时间越长，它就会越发圆润、越有光泽、越通灵性。</p>
        <p>通过YLE生态，沐浴Famland、亲近Famland，这就是Famland元宇宙的置业之本。</p>
        <p>Famland元宇宙中，讲求的是自身加持和众生加持，自身加持的力度当然远远不及众生加持。</p>
        <p>而Famland未来的突变、进化、升华阶段，正是在众生加持的基础上，才能由自身加持最终完成。</p>
      </div>
</div>
  </div>
</section>
{{ end }}
{{ if eq $.Site.Language.LanguageName "EN" }}
<section class="section section-sm my-3 py-5 bg-light">
  <div class="container">
    <h2 class="h2 my-0 text-center">Famland NFT</h2>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
     </div>
   <div class="row justify-content-center align-items-center text-center mt-lg-3">
        <div class="col-lg-7 col-xl-15 ">
        <p>Famland NFT is the vehicle for people to purchase properties in the metaverse. Famland is similar to its own private farm. Each Famland includes three different plots, which are divided into basic fields, Original field and wild field according to different functions.</p>
        <p>Famland is spiritual, it is integrated with the master's consciousness and spirit, so every Famland has its character, connotation, dignity and glory, and its existence is just like the jade in Chinese culture.</p>
        <p>Famland farming in the Metaverse, basic fields is the foundation, and the core is mainly reflected in the farming of basic fields. Basic fields farming requires your careful management and configuration. It determines your personal and the future value, honor and status of this Famland. Original Field and wild fields do not need to worry too much, just invest on-demand.</p>
      </div>
</div>
  </div> 
</section>
<section class="section section-md my-5">
  <div class="container">
    <h2 class="h2 my-0 text-center">Famland Cultivation</h2>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <p>The main goal of the cultivation of Famland is to increase the fertility value of Famland. The increase in fertility is mainly divided into two directions. One is cumulative improvement, and the other is blessing improvement.</p>
    </div>
   <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <div class="col-lg-8">
        <p class="fs-4 mt-4">{{ ":star:" | emojify }}</p>
        <h2 class="h3 mt-0">Cumulative improvement</h2>
        <p>The cumulative increase in Famland depends on the amount of funds deposited in each Famland block and the cumulative farming time.</p>
        <p>Retrieving the seed funds that have been deposited into Famland's basic fields will reset the cultivation time and accumulated fertility value, so be careful.</p>
      </div>
      <div class="col-lg-8">
        <p class="fs-4 mt-4">{{ ":rocket:" | emojify }}</p>
        <h2 class="h3 mt-0">Blessing improvement</h2>
        <p>Famland's fertility value can be increased through NFT blessing, so as to obtain the efficiency of accelerated improvement</p>
        <p>In the Famland Metaverse, all NFTs that condense elements of human spirit, consciousness, culture, art, etc. can fertilize Famland.</p>
        <p>CryptoTree is the first generation of NFTs that can be used for blessing on Famland. After the blessing is successful, the bonus factor of Famland can be increased immediately. In the future, which NFTs can be blessed for Famland and how much the fertility bonus will be increased, the community will vote to decide. .</p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <div class="col-lg-15">
        <p class="fs-4 mt-4">{{ ":gear:" | emojify }}</p>
        <p>If we say that BTC is the digital gold in the Metaverse. Then, Famland is the digital spirit jade in the Metaverse. </p>
        <p>The more you get close to it, and the longer you stay with it, the more rounded, shiny, and psychic it will be. </p>
        <p>Through the YLE system, bathing in Famland and getting close to Famland is the foundation of property purchasing in Famland Metaverse.</p>
        <p>In the Famland Metaverse, the emphasis is on self-blessing and the blessing of sentient beings. </p>
        <p>Of course, the strength of self-blessing is far less than the blessing of sentient beings. And Famland's future mutation, evolution, and sublimation stages can be finally completed by the blessing of sentient beings.</p>
      </div>
</div>
  </div>
</section>
{{ end }}

{{ if eq $.Site.Language.LanguageName "CN" }}
<section class="section section-md my-5 bg-light">
  <div class="container">
    <h2 class="h2 my-0 text-center">Famland共置</h2>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <p>Famland共置的目标是提升Famland共享值，共享值的价值并不作用于Famland本身，而是作用在Famland所在的农场，提升的是所在农场的YL产量。农场的共享值越高、贡献共享值的Famland越多、产出的YL数量越多，农场的价值越大。</p>
    </div>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <div class="col-lg-5">
        <p class="fs-4 mt-4">{{ ":star:" | emojify }}</p>
        <h2 class="h3 mt-0">共享值</h2>
        <p>置业者在Famland基本田存入资产后，即可获得Famland的共享值。共享值将作用于所在农场，农场的共享值越高，农场所产出的YL越多，耕种收益的年化APY越高</p>
      </div>
      <div class="col-lg-5">
        <p class="fs-4 mt-4">{{ ":rocket:" | emojify }}</p>
        <h2 class="h3 mt-0">共享值限额</h2>
        <p>共享值限额，是指Famland共享值每个周期阶段性的上限额度，由用户在该Famland基本田收取YL数量决定，这个限额决定着Famland的在当前Famland最高共享值上限。</p>
      </div>
      <div class="col-lg-5">
        <p class="fs-5 mt-4">{{ ":gear:" | emojify }}</p>
        <h2 class="h3 mt-0">共享金</h2>
        <p>共享金可以转化为共享值。置业者在Famland每投入1USDT的资金，共享金额就增加1USDT。从Famland每提取1USDT的资金，共享金额就减少1USDT。</p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <div class="col-lg-15">
        <p class="fs-4 mt-4">{{ ":gear:" | emojify }}</p>
        <p>Famland的灵性，具备同频共振效应。Famland彼此之间的共享值越接近，同频共振的效应越强，所产生的价值共识就越大。</p>
        <p>在现实宇宙中，人养玉三年，玉养人一生。</p>
        <p>在Famland元宇宙中，人养Famland三年，Famland养人三代。</p>
      </div>
</div>
  </div>
</section>
<section class="section section-sm my-3 py-5">
  <div class="container">
    <h2 class="h2 my-0 text-center">共享农场</h2>
   <div class="row justify-content-center align-items-center text-center mt-lg-3">
        <div class="col-lg-7 col-xl-15 ">
        <p>YLE中的农场除了系统默认生成原生农场外，用户间可以自由组合Famland形成新的共享农场，只要已经在基本田存入种子基金的Famland数量达到30，即可创建新的共享农场。不同的农场，享有不同的APY。</p>
        <p>各个农场的APY高低，取决于各个农场的YL分流指数，所谓YL分流指数，就是YLE新增发的YL从总的蓄水池中，流向该农场的YL流速。</p>
        <p>农场内的Famland共享值越高、Famland数量越多、农场所获得的YL分流指数越大，农场的APY越高，农场内每个Famland所产出的YL越多。</p>
      </div>
</div>
<div class="row justify-content-center align-items-center text-center mt-lg-3">
  <div class="col-lg-5">
    <p class="fs-4 mt-4">{{ ":star:" | emojify }}</p>
    <h2 class="h3 mt-0">分流指数</h2>
    <p>农场的YL分流指数=（农场总的共享值/农场Famland总数量）*流速系数</p>
    <p>农场的YL流速=（该农场分流指数/全部农场分流指数之和）*总流速</p>
  </div>
  <div class="col-lg-5">
    <p class="fs-4 mt-4">{{ ":rocket:" | emojify }}</p>
    <h2 class="h3 mt-0">流速系数</h2>
    <p>原生农场的流速系数恒定为1</p>
    <p>共享农场的流速系数起步为1，以后共享农场每增加30个Famland，流速系数增加0.0001。</p>
  </div>
  <div class="col-lg-5">
    <p class="fs-5 mt-4">{{ ":gear:" | emojify }}</p>
    <h2 class="h3 mt-0">分发池</h2>
    <p>YLE系统新增发的YL将按照流速流入到农场的分发池内，农场内的Famland将根据其耕种的时长、存入本金价值和APY来获得耕种收益。</p>
  </div>
</div>
<div class="row justify-content-center align-items-center text-center mt-lg-3">
  <div class="col-lg-15">
    <p class="fs-4 mt-4">{{ ":gear:" | emojify }}</p>
    <p>Famland元宇宙共享农场的运作，从共建共享的算法和机制来凝聚置业者共识，保障高共识置业者的利益。</p>
    <p>Famland以人为本的设计初心，不依赖置业者资金投入、重视置业者在游戏中时间和智慧投入的价值，依托NFT价值养成和价值共享的算法规则，最大限度保障每名置业者在游戏中的基本权利和公平性，把利用资本损害游戏生态健康发展的不利因素降到最低。</p>
  </div>
  </div> 
</section>
<section class="section section-sm my-3 py-5 bg-light">
  <div class="container">
    <h2 class="h2 my-0 text-center">愿景</h2>
   <div class="row justify-content-center align-items-center text-center mt-lg-3">
        <div class="col-lg-7 col-xl-15 ">
        <p>每个置业者都将拥有完全属于自己的famland私域领地；</p>
        <p>每个置业者都将在自己的fmland私域领地里置业赚钱、工作、学习、生活；</p>
        <p>无数个famland私域领地共同组建成了一个全新的YLE生态；</p>
        <p>这就是我们在famland元宇宙中共同创造出的新大陆、新世界；</p>
        <p>而这个新世界，将由您来命名。</p>
      </div>
  </div>

  </div> 
</section>
{{ end }}
{{ if eq $.Site.Language.LanguageName "EN" }}
<section class="section section-md my-5 bg-light">
  <div class="container">
    <h2 class="h2 my-0 text-center">Famland Co-ownership</h2>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <p>The goal of Famland co-ownership is to increase the shared value of Famland. The value of shared value does not affect Famland itself, but on the farm where Famland is located, which increases the YL output of the farm where it is located. The higher the shared value of the farm, the more Famland that contributes to the shared value, and the more YL produced, the greater the value of the farm.</p>
    </div>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <div class="col-lg-5">
        <p class="fs-4 mt-4">{{ ":star:" | emojify }}</p>
        <h2 class="h3 mt-0">Shared Value</h2>
        <p>Homebuyers can get the shared value of Famland after depositing assets in the Famland base land. The shared value will act on the farm where it is located. The higher the shared value of the farm, the more YL the farm produces, and the higher the annualized APY of the farming income.</p>
      </div>
      <div class="col-lg-5">
        <p class="fs-4 mt-4">{{ ":rocket:" | emojify }}</p>
        <h2 class="h3 mt-0">Shared Value limit</h2>
        <p>Shared value limit refers to the periodic upper limit of Famland shared value in each cycle, which is determined by the amount of YL that users receive in the Famland base field. This limit determines the upper limit of Famland's current maximum shared value in Famland.</p>
      </div>
      <div class="col-lg-5">
        <p class="fs-5 mt-4">{{ ":gear:" | emojify }}</p>
        <h2 class="h3 mt-0">Shared Amount</h2>
        <p>Shared gold can be converted into shared value. For every 1USDT invested in Famland, the shared amount will increase by 1USDT. For every 1USDT withdrawn from Famland, the shared amount is reduced by 1USDT.</p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center text-center mt-lg-3">
      <div class="col-lg-15">
        <p class="fs-4 mt-4">{{ ":gear:" | emojify }}</p>
        <p>Famland's spirituality has the same frequency resonance effect. The closer the shared values of Famland are to each other, the stronger the effect of resonance at the same frequency, and the greater the value consensus generated.</p>
        <p>In the real universe, people raise jade for three years, and jade raises people for a lifetime.</p>
        <p>In the Metaverse, people raise Famland for three years, and Famland raises people for three generations.</p>
      </div>
</div>
  </div>
</section>
<section class="section section-sm my-3 py-5">
  <div class="container">
    <h2 class="h2 my-0 text-center">Shared farm</h2>
   <div class="row justify-content-center align-items-center text-center mt-lg-3">
        <div class="col-lg-7 col-xl-15 ">
        <p>In addition to the original farm generated by the system by default, the farms in YLE can freely combine Famland to form a new shared farm. As long as the number of Famland deposited in the basic fields reaches 30, a new shared farm can be created. Different farms enjoy different APY.</p>
        <p>The level of APY of each farm depends on the YL diversion index of each farm. The so-called YL diversion index is the YL flow rate of YL newly issued by YLE from the total reservoir to the farm.</p>
        <p>It can be seen that the higher the average shared value of Famland in the farm, the more the number of Famland, the larger the YL diversion index obtained by the farm, the higher the APY of the farm, and the more YL produced by each Famland in the farm.</p>
      </div>
</div>
<div class="row justify-content-center align-items-center text-center mt-lg-3">
  <div class="col-lg-5">
    <p class="fs-4 mt-4">{{ ":star:" | emojify }}</p>
    <h2 class="h3 mt-0">Diversion Index</h2>
    <p>YL diversion index of the farm = (total share value of farm / total number of farm Famland) * flow coefficient</p>
    <p>The YL flow rate of the farm = (the diversion index of this farm / the sum of the diversion indices of all farms) * the total flow rate</p>
  </div>
  <div class="col-lg-5">
    <p class="fs-4 mt-4">{{ ":rocket:" | emojify }}</p>
    <h2 class="h3 mt-0">Flow Coefficient</h2>
    <p>The flow coefficient of the native farm is constant at 1.</p>
    <p>The flow coefficient of the shared farm starts at 1, and the flow coefficient increases by 0.0001 for each additional 30 Famland of the shared farm.</p>
  </div>
  <div class="col-lg-5">
    <p class="fs-5 mt-4">{{ ":gear:" | emojify }}</p>
    <h2 class="h3 mt-0">Distribution Pool</h2>
    <p>The newly issued YL of the YLE system will flow into the distribution pool of the farm according to the flow rate, and the Famland in the farm will obtain the farming income according to its farming time, deposit principal value and APY.</p>
  </div>
</div>
<div class="row justify-content-center align-items-center text-center mt-lg-3">
  <div class="col-lg-15">
    <p class="fs-4 mt-4">{{ ":gear:" | emojify }}</p>
    <p>The operation of Famland Metaverse Shared Farm builds consensus among home buyers through co-construction and shared algorithms and mechanisms, and protects the interests of home buyers with high consensus.</p>
    <p>Famland's people-oriented design concept does not rely on homebuyers' capital investment, pays attention to the value of homebuyers' time and wisdom investment in the game, and relies on the algorithm rules of NFT value development and value sharing to maximize the protection of each homebuyer's basic in the game. Rights and fairness minimize the unfavorable factors that use capital to damage the healthy development of the game ecology.</p>
  </div>
  </div> 
</section>
<section class="section section-sm my-3 py-5 bg-light">
  <div class="container">
    <h2 class="h2 my-0 text-center">Vision</h2>
   <div class="row justify-content-center align-items-center text-center mt-lg-3">
        <div class="col-lg-7 col-xl-15 ">
        <p>Each homebuyer will have his own famland private area;</p>
        <p>Every home buyer will make money, work, study and live in his own fmland private domain.</p>
        <p>Countless famland private domains have jointly formed a brand new YLE ecosystem.</p>
        <p>This is the new continent and new world that we have created together in the famland metaverse.</p>
        <p>And this new world will be named by you.</p>
      </div>
  </div>

  </div> 
</section>
{{ end }}


{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
